* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
#container {
    display: flex;
    /* padding: 2dvh 1dvw; */
    height: 100dvh;
    width: 100dvw;
  }
  
  #sidebar {
    width: 15dvw;
    background-color: #f2f2f2;
    padding: 3dvh 1dvw;
    height: 100dvh;
    overflow-y: auto;
  }
  
  .category {
    width: 100%;
    text-align: left;
    padding: 10px;
    border: none;
    background-color: #ddd;
    outline: none;
  }
  
  .sub-buttons {
    display: none;
    padding-left: 20px;
  }
  
  .sub-buttons button {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    border: none;
    background-color: #eee;
    outline: none;
  }
  
  #content {
    flex-grow: 1;
    padding: 0 1dvw;
    border-left: 1px solid #ccc;
    height: 100dvh;
    width: 85dvw;
  }
  #content iframe {
    width: 85dvw;
    height: 100dvh;
    border: none;
  }
  